<div id="conteudo-left" class="card" *ngFor="let detalhe of detalhe">

    <div class="painel-user">

        <h2> Olá, {{detalhe.nome}} </h2> <br>
        <div class="painel-img" *ngFor="let imagem of foto">
            <img [src]="imagem.foto[0].url" alt="Avatar"> <br>


            <div class="painel-content">
                <img src="../../assets/img/cog-outline.png" alt="" class="icons"> Configurações <br>
                <img src="../../assets/img/information.png" alt="" class="icons"> Minhas infos <br>
                <img src="../../assets/img/logout.png" alt="" class="icons"> Logout
            </div>

        </div>
    </div>

</div>
