<div id="conteudo-left" class="card">

    <div class="painel-user">

        <h2> Olá, Vinicius Oliveira </h2> <br>
        <div class="painel-img">
            <img src="../../assets/img/depo2.jpg" alt="Avatar"> <br>


            <div class="painel-content">
                <img src="../../assets/img/cog-outline.png" alt="" class="icons"> Configurações <br>
                <img src="../../assets/img/information.png" alt="" class="icons"> Minhas infos <br>
                <img src="../../assets/img/logout.png" alt="" class="icons"> Logout
            </div>

        </div>
    </div>

</div>